<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats Vs Dogs</title>
    <style>
        .pets {
            display:inline-block;
 			vertical-align: middle;
 			border: 5px solid #000;
 			height: 60%;
        }

        .images {
            text-align:center;
        }

        @media screen and (max-width: 800px) {
          .left, .main, .right {
            width: 100%;
          }
        }
    </style>
</head>
<body>
<div class="images">
    <h1>Cats Vs Dogs</h1>
    <img src="$catUrl" class="pets">
    <img src="$dogUrl" class="pets">
</div>
</body>
</html>